#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff2e0;
  cursor: pointer;
  background-color: #898ac4;
  transition: background-color 0.2s;
  transition: color 0.2s;
  color: #fff2e0;
}

.controls button:hover:not(:disabled) {
  background-color: #fff2e0;
  color: #898ac4;
}

.controls button:disabled {
  background-color: #fff2e0;
  color: #666;
  cursor: not-allowed;
}

.webcam-container {
  position: relative;
  width: clamp(320px, 70vw, 900px);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #333;
}

.webcam-video {
  display: block;
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}

.webcam-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.instructions {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}

.mode-text {
  font-weight: bold;
  color: #898ac4;
}
